{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">



<!--
Adapted from  https://foundation.zurb.com/sites/docs/v/5.5.3/components/topbar.html
https://foundation.zurb.com/building-blocks/blocks/topbar-center-logo.html
-->

<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class= "top-bar-left">
    <ul class="menu vertical medium-horizontal">
      <li>College Life</li>
    </ul>
  </div>

  <div class= "top-bar-center">
    <ul class="menu vertical medium-horizontal">
      <input type="text" placeholder="Search for Something!">
    </input>
      <a href="#" onClick="alert('not yet implemented')" class="button">Search</a>
    </ul>
  </div>

    <div class= "top-bar-center">
    <ul class="menu vertical medium-horizontal">
	    {% if user.is_authenticated %}
		<b class="above_logout">
                Hello {{user.username}}
		</b>
		<form>
			<input type="button" class="logout" value="Logout" onclick="window.location.href='/logout/'" />
		</form>
            {% else %}
		<b class="above_logout">
                	Hello Stranger
		</b>
		<form>
			<input type="button" class="logout" value="Login" onclick="window.location.href='/login/'" />
		</form>
            {% endif %}
    </ul>
  </div>
</div>


    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}
    {% endblock %}
    <div class="large-4 medium-4 cell">
      <h5>{{ body }}</h5>
    </div>
  </body>
</html>
