{% load static %}
{% include "base.html" %}


{% block content %}
<div id="app">
  <ol>
    <li v-for="todo in suggestions">
      {% verbatim %}
      {{ todo.suggestion }}
      {% endverbatim %}
      </li>
  </ol>
</div>

<form action="/" method="post">
{% csrf_token %}
{{ form.suggestion_field.label }}
{{ form.suggestion_field }}
{{ form.suggestion_field.errors }}
<input type="submit" class="button" value="Add Suggestion (javascript page updater enabled)">
</form>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
