{% load static %}
{% include "base.html" %}


<!--
styling adapted from https://www.w3schools.com/howto/howto_js_accordion.asp

-->
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}


.active, .collapsible:hover .listcolor:hover{
  background-color: #155;
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

</style>

{% block content %}
{% if user.is_authenticated %}
<form action="/" method="post">
{% csrf_token %}
{{ form.suggestion_field.label }}
{{ form.suggestion_field }}
{{ form.suggestion_field.errors }}
<input type="submit" class="button" value="Create Post">
<a href="/chat/"><input type="button" class="button" value="Live Chat" /></a>

</form>
{% endif %}
<div id="app-4">
  <span v-if="seen">
    <ul>
    {% for item in item_list %}
    <li class="listcolor">{{ item.suggestion_field }} - {{ item.suggestion_author.username }} - {{ item.created_on }} -<button class="collapsible" >show more</button><div class="content"> need to add a field to know what post are responses to comments will maybe have time for</div>-<a href="comment/{{ item.id }}/">comment</a></li>
    {% endfor %}
    </ul>
  </span>
  <span v-if="unseen">
</div>
  </span>
</div>

<script>
	var comments=document.getElementsByClassName("collapsible");
	var i;
	for(i=0;i<comments.length;i++){
		comments[i].addEventListener("click",function(){
			this.classList.toggle("active");
			var content=this.nextElementSibling;
			if(content.style.display=="block"){
				content.style.display=="none"
			}else {
				content.style.display=="block"
			}
		});
	}



</script>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>


{% endblock %}
